{% extends 'base.html' %}

{% block content %}
    <img src="/static/img/image2.jpg" class="rounded mx-auto d-block" alt="...">
    <h1>Season 1</h1>
    <p>Elliot Alderson has good knowlegde of OSINT. He always get out details of anything which he wants. Now one time he was sitting in cafe. He gets anything suspicious going in network. Very huge network trafic was going to the sigle ip address. When he inspect the packet he get know that the all encrypted packets were transported at https protocol. He knows that the ip address  was of server which was running a website. But he find all domains but he not get anything. Now he want to research more in the hidden urls.</p>
    <a href="/static/domain.csv" download>Click here to download nessacery file!</a>
{% endblock %}