{% extends 'base.html' %}

{% block content %}
    <img src="/static/img/image1.jpg" class="rounded mx-auto d-block" alt="...">
    <h1>Season 3</h1>
    <p>Elliot Alderson and his friend Tyrell Wellick were in trouble. They have very less time and want to bug in the Evil Corp company. As Elliot Alderson was working at the cybersecurity company Allsafe as a cybersecurity engineer he know all the IT workflow. They were finding some loop hools in the website but they were not able to find anything. Then Elliot try to inspect the page and started finding some hiddens files and code. Then he found a javascript function named as 'creditcardvalidation'.  Then what he find some text which is not readable. Then he started decription through ROT13.</p>
{% endblock %}